<div class="container text-center">
    <div class="container">
        <h1 class="my-4 text-center">Categorías</h1>
        <div *ngIf="categories && categories.length > 0" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tipo de Categoría</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td>{{ category.tipo_categoria }}</td>
                <td>
                  <button class="btn btn-primary mx-2" (click)="editCategory(category)" *ngIf="rolUsuario === 1 || rolUsuario === 3">Editar</button>
                  <button class="btn btn-danger" (click)="deleteCategory(category.id)" *ngIf="rolUsuario === 1">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!(categories && categories.length > 0)" class="alert alert-info">No hay categorías para mostrar.</div>
      </div>      
    <hr>
    <form *ngIf="tempCategory; else addCategoryForm " (submit)="updateCategory()" class="container" >
        <div class="form-group">
            <label for="tipo_categoria">Tipo de categoría:</label>
            <input type="text" [(ngModel)]="tempCategory.tipo_categoria" name="tipo_categoria" id="tipo_categoria" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <button type="button" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
    </form>
    
      
    <ng-template #addCategoryForm >
        <h2 *ngIf="rolUsuario === 1 || rolUsuario === 3">Agregar categorias</h2>
        <form (submit)="addCategory(newCategory.value); newCategory.value=''" class="my-4" *ngIf="rolUsuario === 1 || rolUsuario === 3">
            <input type="text" #newCategory name="newCategory" required class="form-control my-2">
            <button type="submit" class="btn btn-primary">Agregar categoría</button>
        </form>
    </ng-template>

    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
</div>


  
