<div class="container text-center">
    <h1 class="my-4">Reportes</h1>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Precio</th>
          <th>Fecha de Entrega</th>
          <th>Ingreso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reporte of reportes">
          <td>{{ reporte.id }}</td>
          <td>{{ reporte.precio }}</td>
          <td>{{ reporte.fecha_entrega }}</td>
          <td>{{ reporte.ingreso }}</td>
          <td>
            <button class="btn btn-primary mx-2" (click)="editarReporte(reporte)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarReporte(reporte.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Formulario para editar un reporte -->
    <form *ngIf="edicionActiva && reporteEditado; else agregarEditarForm" (submit)="actualizarReporte()" class="container">
    <div class="form-group">
      <label for="editPrecio">Precio:</label>
      <input type="number" [(ngModel)]="reporteEditado.precio" name="editPrecio" id="editPrecio" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="editFechaEntrega">Fecha de Entrega:</label>
      <input type="date" [(ngModel)]="reporteEditado.fecha_entrega" name="editFechaEntrega" id="editFechaEntrega" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="editIngreso">Ingreso:</label>
      <select [(ngModel)]="reporteEditado.ingreso" name="editIngreso" id="editIngreso" class="form-control" required>
        <option *ngFor="let ingreso of ingresos" [value]="ingreso.id">{{ ingreso.id }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <button type="button" (click)="cancelarEdicion()" class="btn btn-secondary">Cancelar</button>
  </form>
  

    <!-- Formulario para agregar un nuevo reporte -->
    <ng-template #agregarEditarForm>
        <h2>Agregar/Editar Reporte</h2>
        <form (submit)="agregarReporte()" class="my-4">
          <div class="form-group">
            <label for="nuevoPrecio">Precio:</label>
            <input type="number" [(ngModel)]="nuevoReporte.precio" name="nuevoPrecio" id="nuevoPrecio" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="nuevaFechaEntrega">Fecha de Entrega:</label>
            <input type="date" [(ngModel)]="nuevoReporte.fecha_entrega" name="nuevaFechaEntrega" id="nuevaFechaEntrega" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="nuevoIngreso">Ingreso:</label>
            <select [(ngModel)]="nuevoReporte.ingreso" name="nuevoIngreso" id="nuevoIngreso" class="form-control" required>
              <option *ngFor="let ingreso of ingresos" [value]="ingreso.id">{{ ingreso.id }}</option>
            </select>
          </div>
          <p></p>
          <button type="submit" class="btn btn-primary">Agregar Reporte</button>
        </form>
      </ng-template>
  
    <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>
  </div>
  
