<div class="container text-center">
    <h1 class="my-4">Órdenes de Venta de Accesorios</h1>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Orden de Venta</th>
          <th>Accesorio</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordenVentaA of ordenesVentaA">
          <td>{{ ordenVentaA.id }}</td>
          <td>{{ ordenVentaA.orden_venta }}</td>
          <td>{{ getAccesorioName(ordenVentaA.accesorio) }}</td>
          <td>{{ ordenVentaA.cantidad }}</td>
          <td>
            <button class="btn btn-primary mx-2" (click)="editarOrdenVenta(ordenVentaA)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarOrdenVenta(ordenVentaA.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <hr>
  
    <form *ngIf="ordenEditada; else agregarEditarForm" (submit)="actualizarOrdenVenta()" class="container">
        <div class="form-group">
          <label for="ordenVenta">Orden de Venta:</label>
          <select [(ngModel)]="ordenEditada.orden_venta" name="ordenVenta" id="ordenVenta" class="form-control" required>
            <option *ngFor="let ordenVenta of ordenesVenta" [value]="ordenVenta.id">{{ ordenVenta.id }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="accesorio">Accesorio:</label>
          <select [(ngModel)]="ordenEditada.accesorio" name="accesorio" id="accesorio" class="form-control" required>
            <option *ngFor="let accesorio of accesorios" [value]="accesorio.id">{{ accesorio.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cantidad">Cantidad:</label>
          <input type="number" [(ngModel)]="ordenEditada.cantidad" name="cantidad" id="cantidad" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <button type="button" (click)="cancelarEdicion()" class="btn btn-secondary">Cancelar</button>
      </form>
      
  
      <ng-template #agregarEditarForm>
        <h2>Agregar/Editar Orden de Venta</h2>
        <form (submit)="agregarOrdenVenta()" class="my-4">
            <div class="form-group">
                <label for="nuevaOrdenVenta">Orden de Venta:</label>
                <select [(ngModel)]="nuevaOrden.orden_venta" name="nuevaOrdenVenta" id="nuevaOrdenVenta" class="form-control" required>
                    <option value="">Seleccionar Orden de Venta</option>
                    <option *ngFor="let ordenVenta of ordenesVenta" [value]="ordenVenta.id">{{ ordenVenta.id }}</option>
                  </select>                  
              </div>              
          <div class="form-group">
            <label for="accesorio">Accesorio:</label>
            <select [(ngModel)]="nuevaOrden.accesorio" name="accesorio" id="accesorio" class="form-control" required>
              <option *ngFor="let accesorio of accesorios" [value]="accesorio.id">{{ accesorio.nombre }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" [(ngModel)]="nuevaOrden.cantidad" name="cantidad" id="cantidad" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Agregar Orden de Venta</button>
        </form>
      </ng-template>
      
  
    <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>
  </div>
  
